#box
    #outer.cent
        %h1#name
            %a(href='/') Tyler Collard
        #header
            %p.intro I am a web developer in Mpls, MN, specializing in creating fast, highly functional web applications.