<div id="post-pagination">
    <ul class="pager">
    {% if paginator.previous_page %}
        <li class="previous">
            {% if paginator.previous_page == 1 %}
            <a href="/">&laquo; Newer</a>
            {% else %}
            <a href="/page{{ paginator.previous_page }}">&laquo; Newer</a>
            {% endif %}
        </li>
    {% else %}
        <li class="previous disabled">
            <a href="#">&laquo; Newer</a>
        </li>
    {% endif %}

    {% if paginator.next_page %}
        <li class="next">
            <a href="/page{{ paginator.next_page }}">Older &raquo;</a>
        </li>
    {% else %}
        <li class="next disabled">
            <a href="#">Older &raquo;</a>
        </li>
    {% endif %}
    </ul>
</div>