/* foundation colors */
$base: #29261E;
$alpha: #C2B18D;
$beta: #756B55;
$gamma: #42361C;
$delta: #756032;

$gray_dark: #33342d;
$gray_light: #46483e;

$light_border: lighten($beta, 10%);
$close_white: lighten($alpha, 30%);

body {
    background-color: $gray_light;
    color: #333;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    margin: 0;
    font-size: 16px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 23px;
}

a {
    color: $delta;

    &:hover {
        color: $delta;
        text-decoration: underline;
    }
}

p {
    line-height: 1.6;
}

ul {
    ul {
        list-style: circle;
    }
}

.clear{
    overflow: hidden;
}