<!DOCTYPE html>
<html>
    <head>
        <meta content='0eec7e2b6286c636' name='y_key'>
        <meta content='LoGZ2c_XMeLVxN0kG_RHASLZ_bBnkJggV5_7z12aY_k' name='google-site-verification'>
        <title>
            Tyler Spencewood
            {% if page.title %}
                 | {{ page.title }}
            {% endif %}
        </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <script src="//use.typekit.net/rxj4hzq.js"></script>
        <script src="https://www.google.com/jsapi"></script>
        <script>
            try{Typekit.load();}catch(e){}

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-530693-4']);
            _gaq.push(['_setDomainName', 'tylercollard.com']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);
            
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        {{ content }}
    </body>
</html>